body{
    background-color: rgb(38, 39, 41);
}

div{
    border: solid white 1px;
}

#main-grid{
    display: grid;
    gap: 15px;
    grid-template-columns: auto;
}

.flow-display{
    min-height: 50px;
}

.balancer{
    min-height: 100px;
    background-color: darkolivegreen;
}